.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Darken the background */
  z-index: 9999; /* Set a high z-index to ensure the overlay is on top of other elements */
}

.popup {
  position: relative; /* Set position to relative to keep it in the center of the screen */
  display: none;
  background-color: white;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 800px;
  margin: 0px auto;
  margin-top: 40px;
  padding: 10px 30px;
  z-index: 10000; /* Set a higher z-index than the overlay */
}

.popup h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup label {
  font-weight: bold;
}

.popup input[type="text"],
.popup input[type="number"],
.popup input[type="file"],
.popup textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ececec;
}

.popup button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.popup button.popup-close-button {
  float: right;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #aaa;
  outline: none;
}

.popup button.popup-close-button:hover,
.popup button.popup-close-button:focus {
  color: black;
}

.popup button.popup-close-button:active {
  transform: translateY(2px);
}

.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.inventory-container:focus,
.inventory-container:focus-within,
.inventory-container.is-focused {
  background-color: #ececec !important;
  margin-left: -15px !important;
}
.inventory-container:focus:before,
.inventory-container:focus-within:before,
.inventory-container.is-focused:before {
  content: " ";
  width: 6px;
  height: 100%;
  background-color: #7e7e7e !important;
}
