.page-info-stat {
  background-color: #ffffff;
  height: 56px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 60px;
  left: 210px;
  right: 0;
  z-index: 100;
}
.left-info {
  width: fit-content;
  margin: 0 30px;
  font-size: 19px;
  font-weight: 500;
}
.right-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 350px;
  font-size: 12px;
  margin-right: 35px;
}
.month,
.year,
.recent-activities {
  height: 30px;
  padding: 0 10px;
  border: #4c4c4c 1px solid;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}
.month:hover,
.year:hover,
.recent-activities:hover {
  background-color: #fafafa;
  transform: scale(1.01);
}
.recent-activities i {
  margin-left: 5px;
}
.main-content {
  position: relative;
  display: grid;
  margin-top: 140px;
  margin-left: 210px;
  margin-right: 10px;
  grid-template-columns: 1fr 1fr;

  gap: 10px;
}
.section-one {
  margin: -5px 10px 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  width: 895px;
}
.sales-overview-container,
.purchase-overview-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-flow: wrap;
  gap: 5px;

  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  min-width: 435px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* .sales-overview-container:hover {
  transform: scale(1.01);
} */
.overview {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  flex: 1;

  font-size: 16px;
  font-weight: 500;
}

.inventory-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 15px 25px 15px;
  width: 283px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.inventory-overview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 500;
}
.inventory-stats img {
  height: 40px;
  width: 40px;
  color: #000000;
}

.total-sales-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.total-sales-stats-container {
  display: flex;

  border-radius: 6px;
  width: 150px;
  margin: 10px 0;

  cursor: pointer;
}
.total-sales-stats-container:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}
.stats p {
  font-size: 12px;
  font-weight: 500;
  color: #4c4c4c;
  margin: 4px 0 2px 0;
}
.stats h3 {
  font-size: 18px;
  font-weight: 600;
}
.stats-one {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-one img {
  height: 30px;
  width: 30px;
  color: #000000;
}

.stats-two {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-two img {
  height: 30px;
  width: 30px;
  color: #000000;
}
.stats-three {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-three img {
  height: 30px;
  width: 30px;
  color: #000000;
}
.stats-four {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-four img {
  height: 30px;
  width: 30px;
  color: #000000;
}
.stats-five {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-five img {
  height: 30px;
  width: 30px;
  color: #000000;
}
.stats-six {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-six img {
  height: 30px;
  width: 30px;
  color: #000000;
}
.stats-seven {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-seven img {
  height: 30px;
  width: 30px;
  color: #000000;
}
.stats-eight {
  padding: 10px 10px 5px 10px;
  background-color: #eaeaea;
  margin-right: 8px;
  border-radius: 8px;
}
.stats-eight img {
  height: 30px;
  width: 30px;
  color: #000000;
}
.inventory-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}

.products-stats {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-direction: column;
}
.products-stats p {
  font-size: 13px;
  font-weight: 500;
  color: #4c4c4c;
  margin: 4px 0 2px 0;
}
hr {
  border-color: #f2f2f2;
}
.product-details-stat {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.inv-stats-one,
.inv-stats-two {
  border-radius: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  width: 120px;

  cursor: pointer;
}
.inv-stats-one:hover,
.inv-stats-two:hover {
  background-color: #e5e5e5;
  transform: scale(1.05);
}
.inv-stats-one p,
.inv-stats-two p {
  font-size: 12px;
  font-weight: 500;
  color: #4c4c4c;
  margin: 4px 0 2px 0;
}
.inv-stats-one h3,
.inv-stats-two h3 {
  font-size: 18px;
  font-weight: 600;
}
.inv-stats-one span,
.inv-stats-two span {
  font-size: 40px;
  color: #000000;
}

.section-two {
  width: 350px;
  height: 740px;
  margin-top: -5px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px 10px 10px 12px;

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.recent-sales,
.latest-orders {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.recent-sales-overview,
.latest-orders-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.recent-sales-overview p,
.latest-orders-overview p {
  font-size: 16px;
  font-weight: 500;
  margin: 4px 0 2px 0;
}
.recent-sales-overview h5,
.latest-orders-overview h5 {
  font-size: 12px;
  font-weight: 500;
  margin: 4px 0 2px 0;
  color: #6e6e6e;
}
.recent-sales-overview h5:hover,
.latest-orders-overview h5:hover {
  color: #3a3a3a;
  cursor: pointer;
  text-decoration: underline;
}
.recent-sales-activity,
.latest-orders-activity {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.activity-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.activity-container:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}
.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #acacac;
}
.user-activity {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 40%;
}
.user-activity h4 {
  font-size: 12px;
  margin: 0;
}
.user-activity p {
  font-size: 10px;
  font-weight: 400;
  color: #a8a8a8;
  margin: 0;
}
.user-amount {
  flex: 1;
  display: flex;
}
.user-amount p {
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
}
.user-quantity {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.user-quantity h5 {
  font-size: 12px;
  font-weight: 600;
  margin-left: auto;
}
.user-quantity p {
  font-size: 12px;
  font-weight: 600;
  margin-left: auto;
  color: #4c4c4c;
}
.chart-container {
  width: 900px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px 10px 10px 10px;
  border-radius: 10px;
}
.chart-container button {
  background-color: #ffffff;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #4c4c4c;
  margin-right: 10px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}
.chart-container button:hover {
  background-color: #f2f2f2;
  transform: scale(1.0005);
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

.popup button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #2980b9;
}
