.page-info-stat-4 {
  background-color: #ffffff;
  height: 56px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 60px;
  left: 210px;
  right: 0;
  z-index: 100;
}
.left-info-4 {
  width: 600px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-info-4 .main {
  font-size: 19px;
  font-weight: 500;
}
.left-info-4 .middle {
  font-size: 12px;
  color: #4c4c4c;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-info-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 270px;
  font-size: 12px;
  margin-right: 22px;
  font-weight: 500;
}
.right-info-4 .delete {
  height: 30px;
  padding: 0 10px;
  border: #4c4c4c 1px solid;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}
.right-info-4 .delete:hover {
  background-color: #ebebeb;
  transition: all 0.1s ease-in;
  color: red;
}
.right-info-4 .delete p {
  margin-bottom: 0px;
}
.right-info-4 .delete i {
  margin-left: 5px;
  margin-bottom: 0px;
  color: #4c4c4c;
}
.right-info-4 .edit {
  height: 30px;
  padding: 0 10px;
  border: #4c4c4c 1px solid;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}
.right-info-4 .edit:hover {
  background-color: #ebebeb;
  transition: all 0.1s ease-in;
  color: rgb(52, 202, 52);
}
.right-info-4 .edit p {
  margin-bottom: 0px;
}
.right-info-4 .edit i {
  margin-left: 5px;
  margin-bottom: 0px;
  color: #4c4c4c;
}
.right-info-4 .add {
  height: 30px;
  padding: 0 10px;
  border: #4c4c4c 1px solid;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}
.right-info-4 .add:hover {
  background-color: #ebebeb;
  transition: all 0.1s ease-in;
  color: rgb(25, 81, 185);
}
.right-info-4 .add p {
  margin-bottom: 0px;
}
.right-info-4 .add i {
  margin-left: 5px;
  margin-bottom: 0px;
  color: #4c4c4c;
}

table {
  border-collapse: collapse;
  width: 202%;
  font-family: Arial, sans-serif;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  overflow: hidden;
}
th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  border-radius: 4px;
}

th {
  background-color: #f7b32b;
  font-weight: bold;
  text-transform: uppercase;
}

td img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.inventory-container {
  background-color: #ececec;
  margin-left: -15px;
}
.inventory-container:before {
  content: " ";
  width: 6px;
  height: 100%;
  background-color: #7e7e7e;
}
.main-content {
  margin-top: 140px;
}
