/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;

  background-image: url("../images/inventory.jpg");
  background-size: cover;
}
.container {
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
  max-width: 400px;
  border-radius: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  border-radius: 1rem;
  width: 100%;
  padding: 3rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
}
.link {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
.link a {
  color: #000;
  text-decoration: none;
  font-size: 0.825rem;
  transition: color 0.3s ease;
}

label {
  font-weight: 500;
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}

input[type="email"],
input[type="password"] {
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  padding: 0.8rem;
  height: 45px;
  font-size: 0.725rem;
  width: 100%;
  background-color: #f5f5f5;
}

input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #ececec;
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember {
  display: flex;
  align-items: center;
}
.remember label {
  margin-left: 0.25rem;
  margin-bottom: 0;
  font-weight: 400;
}
.forgot-password {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.825rem;
  margin-bottom: 0.5rem;
}

input[type="submit"] {
  border: none;
  border-radius: 100px;
  padding: 1rem 2rem;
  font-size: 0.825rem;
  font-weight: 500;
  background-color: #000000;
  color: #fff;
  width: 100%;
  align-self: center;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #4a4a4a;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 12px 0;
  width: 100%;
  text-align: center;
}

.or-divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-divider-text {
  margin: 0 1rem;
  font-weight: 400;
  font-size: 0.825rem;
  color: #999;
}

.google {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 100px;
  padding: 1rem 2rem;
  font-size: 0.825rem;
  font-weight: 500;
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  width: 100%;
  height: 47px;
}
.google-button img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.google-button:hover {
  opacity: 0.8;
  background-color: #fafafa;
}
h1 {
  align-self: self-start;
  font-size: 1.5rem;
  font-weight: 500;
}
h1 img {
  height: 1.5rem;
  margin-left: -2px;
  margin-bottom: -4px;
  margin-right: 8px;
}
h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0.6rem;
  align-self: self-start;
}
.error {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: -10px 0 -8px 8px;
  color: red !important;
  font-size: 0.7rem;
}

.optimize {
  font-size: 0.7rem;
  font-weight: 500;
  color: #707070;
  margin-bottom: 2rem;
  align-self: self-start;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

#loader {
  position: fixed;
  top: 43%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-top: 5px solid #7c7c7c;
  border-radius: 60%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
