.sidebar {
  background-color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  width: 210px;

  display: flex;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  z-index: 1;
}
.logo-container {
  width: 100%;
  height: 70px;
  padding: 10px 0 10px 10px;
  background-color: #ffffff;
  margin-bottom: 15px;
  margin-top: 15px;
}
.logo-container img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  margin-bottom: -5px;
  margin-left: 5px;
}
.logo-container h1 {
  font-family: "Varela Round", sans-serif;
  font-size: 27px;
}
.top-header {
  font-size: 15px;
  color: #808080;
  margin: 10px 0 5px 5px;
  padding: 0 35px;
}
.sidebar-section-container {
  padding: 0 10px 0 25px;
}
.dashboard-container,
.users-container,
.inventory-container,
.purchase-container,
.sales-container,
.invoice-container,
.bill-container,
.stakeholders-container {
  display: flex;
  align-items: center;

  background-color: #ffffff;
  height: 40px;
  border-radius: 6px;

  padding: 0 10px 0 0;
  margin: 5px 15px 5px 0;
  font-size: 15px;

  cursor: pointer;
}
.dashboard-container:hover,
.users-container:hover,
.inventory-container:hover,
.purchase-container:hover,
.sales-container:hover,
.invoice-container:hover,
.bill-container:hover,
.stakeholders-container:hover {
  margin-left: 16px;
  transition: all 0.3s ease-in-out;
}

.dashboard-container span {
  font-size: 23px;
  font-weight: 500;
  color: #808080;
  margin-right: 5px;
  margin-left: 2px;
}
.users-container i {
  font-size: 16px;
  color: #808080;
  margin-right: 10px;
  margin-left: 5px;
}
.middle-section {
  margin: 20px 0;
}
.mid-header {
  font-size: 15px;
  color: #808080;
  margin: 0 0 10px -20px;
  padding: 0 35px;
}
.inventory-container span,
.stakeholders-container span {
  font-size: 21px;
  font-weight: 500;
  color: #808080;
  margin-right: 5px;
  margin-left: 2px;
}

.purchase-container i,
.sales-container i {
  font-size: 16px;
  color: #808080;
  margin-right: 7px;
  margin-left: 2px;
}
.invoice-container i,
.bill-container i {
  font-size: 16px;
  color: #808080;
  margin-right: 9px;
  margin-left: 3px;
}
.inventory-container {
  position: relative;
}
.inventory-container ul {
  position: absolute;
  list-style: none;
  left: 145px;
  top: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 8px;
  line-height: 2;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  display: none;
}

.inventory-container ul li a {
  font-size: 15px;
  color: #000000;
  margin: 0 0 10px -20px;
  padding: 0 35px;
  text-decoration: none;
}
.inventory-container ul li a:hover {
  color: #808080;
  transition: all 0.1s ease-in-out;
}

.inventory-container:hover ul {
  display: initial;
}

.lower-section {
  background-color: #eaeaea;
  margin-top: 140px;
  margin-left: -5px;
  margin-right: 7px;

  display: flex;
  align-items: center;

  border: #7e7e7e 1px solid;
  border-radius: 8px;
}
.profile-pic img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 6px 10px 2px 10px;
  border: #868686 1px solid;

  cursor: pointer;
}

.profile-info h4 {
  font-size: 13px;
  color: #000000;
  margin: 0;
  cursor: pointer;
}
.profile-info p {
  font-size: 12px;
  color: #4f4f4f;
  margin: 0;
  cursor: pointer;
}

.profile-settings {
  margin-left: auto;
  margin-right: 10px;

  cursor: pointer;
}
