.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.popup {
  position: relative;
  background-color: white;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 600px;
  margin: 50px auto;
  padding: 10px 30px;
  z-index: 10000;
  border-radius: 10px;
}

.popup h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}

.popup form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup label {
  font-weight: bold;
}

.popup input[type="text"],
.popup input[type="number"],
.popup input[type="file"],
.popup textarea,
.popup select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ececec;
}

.popup button[type="submit"] {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 20px 0;
}

.popup button.popup-close-button {
  float: right;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #aaa;
  outline: none;
}

.popup button.popup-close-button:hover,
.popup button.popup-close-button:focus {
  color: black;
}

.popup button.popup-close-button:active {
  transform: translateY(2px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
